h1{
    text-align: center;font-size: xx-large;color: rgb(255, 1, 1);
    text-shadow:  5px 6px 6px rgb(0, 0, 0)
}
h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(2, 128, 238);font-size: xx-large;
}
ul{
    list-style: square;font-size: xx-large;color: black;
}